# Server Configuration
PORT=3000

# Database
MONGO_URI=your_mongodb_connection_string_here

# External API key
NEWS_API_KEY=you_news_api_key_here

# Stage
NODE_ENV=development

# Stellar wallet address for receiver of payment
MY_STELLAR_WALLET=stellar_wallet_address

STELLAR_NETWORK=testnet